
* {
    overflow: hidden;
}

   
body {
    width:100%;
    border: none;
}

p.body {
    font: #777777;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/*
.headerSpan {
    height: 50px;
    width: 100%;
    margin: 0 auto;
    border: none;
}
*/
.headerName {
    height: 50px;
    width: 15%;
    float: left;
    padding: 10px 10px 10px 10px;
    border: none;
    background: #4aaaa5;
    margin: 0px 35% 0px 15%;
    text-align: center;
}

.headerAbout {
    height: 50px;
    width: 5%;
    float: left;
    padding: 0px;
    border: none;
    background: red;
    margin: 0 auto;
    text-align: center;
}

.headerPortfolio {
    height: 50px;
    width: 5%;
    float: left;
    padding: 0px;
    border: none;
    background: gray;
    margin: 0 auto;
    text-align: center;
}

.headerContact {
    height: 50px;
    width: 5%;
    float: left;
    padding: 0px;
    border: none;
    background: red;
    margin: 0 15% 0 0;
    text-align: center;
}

.content {
    width: 70%;
    margin: 0 15% 0 15%;
    border: none;
    clear: both;
}

.contentImage {
    float:left;
    border: none;
}

.contentFloatRight {
    float: left;
    border: none;
}

.footer {
    width: 100%;
    text-align: center;
    padding: 10px 0 10px 0;
    border: none;
    clear: both;
    background-color: gray;
    margin: 0;
}