* {
}

body {
  /* Let's make this thing fill the page */
  display: flex;
  flex-direction: column; 
  height:100vh;
  background-image: url("../images/background_circles.jpg");
  width: 100%;
  margin: auto;
  background-color: #ffffff; 
  height: 100vh; /* !!!!!!!!!! */
}

h1,
h2,
h3 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #4aaaa5;
}

p,
li {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777777;
}

a:link,
a:visited { color: #4aaaa5;
            text-decoration: none; 
}

a:hover,
a:active  { color: #777; 
            text-decoration: none; 
}

nav {
  width: 100%;
  background-color: #ffffff;
  color: #777777;
  margin-bottom: 10px;
  height: 64px;
  border-bottom: 5px solid #777;
}

.nav-container {
  display: flex;
  background: white;
  height: 64px;
  margin: 0px auto 0 auto;
  padding: 0px 0 0 0;
  width: 960;
}

.nav-logo h1{
  color: white;
}

.nav-logo {
  padding: 0 15 0 15;
  float: left;
  position: relative;
  background-color: #4aaaa5;
  text-align: center;
}

.nav-links {
  float: right;
  align-items: center;
  margin: auto; 
  color: #777;
  background-color: white;
  width: 800px;

}

.nav-links ul {
  list-style: none; /* Remove Bullets */
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: right;
}

.nav-links li {
  float: left;
  padding: 10px 10px 0 10px;
}

.container {
  width:960px;
  background-color: #fff;
  margin: auto;
}


.page-title {
  background-color: #fff;
  margin: 10px 0 10px 0;
  padding: 0 20px 0 20px;
}

.content {
  box-sizing: border-box;
  overflow: hidden;
  padding: 0 20px 0 20px;
  margin: 10px auto 10px auto;
  background-color: #fff;
}

img {
  float:left;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-top: 10px;
}

.showcase {
  position: relative;
  width: 266;
  float: left;
  background-color: #fff;
  border: 0px;
  padding: 0;
  margin: 10px 20px 10px 0px;
}

.showcase-image {
  width: 266px;
  height: 200px;
}

.showcase-highlight {
    position: relative;
    width: 266px;
    height: 40px;
    margin: 0px;
    background-color: #4aaaa5;
    color: red;
    text-align: center;
    top: 140px;
    bottom: 20px;
    z-index: 20; /* On top of picture*/
}

.showcase-text {
    position: absolute;
    width: 266px;
    height: 40px;
    margin: 0px;
    padding-top: 10px;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    top: 50%;
    z-index: 30; /* on top of highlight */
}

.showcase-text h2 {
  color: white;
      text-align: center;
      bottom: 20px;
}

input {
  width: 100%;
  padding: 5px;
}

.input-message {
  height: 200px;
}

.button {
  background-color: #4aaaa5;
  border: none;
  color: white;
  padding: 5px 10px 5px 10px;
  text-align: center;
  width: 75px;
}

footer {
  width: 100%;
  display: block;
  text-align: center;
  background-color: #666666;
  margin: 10px auto 0 auto;
  height: 60px;
  padding: 10px 0 0 0;
  color: white;
  border-top: 5px solid #4aaaa5;
}

footer p {
  color:white
}
