
/*
* {
    overflow: hidden;
}
*/

   
body {
    font: Arial, sans-serif;
    border: none;
    padding: 0;
    margin: 0;
}

p.body {
    font: #777777;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.clearfix {
    overflow: auto;
}

.container {
    width: 100%;
    margin: auto;
    overflow: hidden;
    /* REMOVE! Formatting in order to see what I'm doing */
        border: 1px;
        border-color: black;
        background-color: darkgray;
}

/*
.headerSpan {
    height: 50px;
    width: 100%;
    margin: 0 auto;
    border: none;
}
*/

/* HEADER */
header {
    /* REMOVE! Formatting in order to see what I'm doing */
        border: 1px;
        border-color: black;
}

header a {

}

header a:hover {

}

header li {
    float: left;
    display: inline;
}

/*
header.highlightName {
    float: left;
}
*/

header nav {
    float: right;
}

.content {
    margin: 20px 15% 20px 15%;
    border: none;
    clear: both;
    float: left;
}

.contentImage {
    border: none;
    padding: 0 20px 0 20px;
}





.headerName {
    height: 50px;
    width: 15%;
    float: left;
    padding: 10px 10px 10px 10px;
    border: none;
    background: #4aaaa5;
    margin: 0px 35% 0px 15%;
    text-align: center;
}

ul.headerLinks {
    display: inline;
    height: 50px;
    width: 5%;
    float: left;
    padding: 0px;
    border: none;
    background: red;
    margin: 0 auto;
    text-align: center;
}

nav.ul {
    display: inline;
}



.contentImage {
    float:left;
    border: none;
}

.contentFloatRight {
    float: left;
    border: none;
}

.footer {
    width: 100%;
    text-align: center;
    padding: 10px 0 10px 0;
    border: none;
    clear: both;
    background-color: gray;
    margin: 0;
}