* {
  /* background:black; */
}

body {
  /* Let's make this thing fill the page */
  display: flex;
  flex-direction: column;
  height:100vh;

  background-image: url("../images/background.png");
  width: 100%;
  margin: auto;
  background-color: blue; /* for validation purposes */
  height: 100vh; /* !!!!!!!!!! */
}

h1,
h2,
h3 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #4aaaa5;
}

p {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777777;
}

nav {
  width: 100%;
  background-color: black;
  color: #777777;
  margin-bottom: 20px;
  height: 70px;
  border-bottom: #ccc 2px;
}

.nav-container {
  /* position: relative; */
  background: #fff;
  height: 50px;
  margin-top: 20px;
  padding: 0.5%;
}

.nav-container h1{
  color: white;
}

.nav-logo {
  padding: 0 5px 0 5px;
  float: left;
  position: absolute;
  background-color: #fff;
  color: #4aaaa5;
}

.container {
  width:960px;
  background-color: #fff;
  margin: auto;
  overflow: hidden;
}


.page-title {
  width: 98%;
  background-color: #fff;
  margin: 1% auto 1% auto;
  padding: 0 20px 0 20px;
}

.content {
  box-sizing: border-box;
  
  /* width: 960px; */
  /* float: left; */
  overflow: hidden;
  padding: 0 20px 0 20px;
  margin: 1% auto 1% auto;
  background-color: #fff;
}

img {
  float:left;
  padding-right: 10px;
  padding-top: 1%;
}

.showcase1 {
  width: 40%;
  height: 100px;
  float: left;
  background-color: #fff;
  border: 1px black;
  margin: 0% 1% 1% 1%;
}

.showcase2 {
  width: 40%;
  height: 100px;
  float: left;
  background-color: #fff;
  margin: 0% 1% 1% 1%;
  border: 1px black;
}

/* .showcase3 {
  width: 32%;
    height: 100px;
    float: right;
    background-color: white;
  margin: 0% 1% 1% 0%;
} */

footer {
  width: 100%;
  display: flex; 
  align-items: center; /* CENTERS VERTICALLY */
  text-align: center;
  background-color: #666666;
  margin: 20px auto 0 auto;
  height: 50px;
  padding: 10px auto 10px auto;
  text-align: center;
  color: white;
  border-top: 10px solid #4aaaa5;
}