/* 
* {
    box-sizing: border-box;
}
*/
   
body {
    width:100%;
    margin: 0 auto;
}

p.body {
    font: #777777;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/*
.headerFillLeft {
    width: 15%;
    float: left;
    position: relative;
    padding: 20px 10px 10px 20px;
    border: none;
}
*/

.headerSpan {
    height: 50px;
    width: 100%;
    margin: 0 auto;
    border: 0;
}

.headerName {
    width: 15%;
    float: left;
    padding: 10px 10px 10px 10px;
    border: none;
    background: #4aaaa5;
    margin: 0px 25% 0px 15%;
    text-align: center;
}

/*
.headerFillMiddle {
    width: 25%;
    float: left;
    padding: 20px 10px 10px 20px;
    border: none;
}
*/

.headerAbout {
    width: 5%;
    float: left;
    padding: 10px 10px 10px 10px;
    border: none;
    background: red;
    margin: 0;
    text-align: center;
}

.headerPortfolio {
    width: 5%;
    float: left;
    padding: 10px 10px 10px 10px;
    border: none;
    background: gray;
    margin: 0;
    text-align: center;
}

.headerContact {
    width: 5%;
    float: left;
    padding: 10px 10px 10px 10px;
    border: none;
    background: red;
    margin: 0 15% 0 0;
    text-align: center;
}



/*
.headerFillRight {
    width: 15%;
    float: left;
    position: relative;
    padding: 20px 10px 10px 20px;
    border: none;
}
*/ 

.content {
    width: 70%;
    margin: 0 15% 0 15%;
    border: none;
    clear: both;
}

.contentImage {
    float:left;
    border: none;
}

.contentFloatRight {
    float: left;
    border: none;
}

.footer {
    width: 100%;
    text: center;
    float: none;
    border: none;
    clear: both;
    text-align: center;
    background-color: gray;
}