* {
  /* background:black; */
}

body {
  /* Let's make this thing fill the page */
  display: flex;
  flex-direction: column; 
  height:100vh;
  background-image: url("../images/background.png");
  width: 100%;
  margin: auto;
  background-color: #ffffff; 
  height: 100vh; /* !!!!!!!!!! */
}

h1,
h2,
h3 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #4aaaa5;
}

p {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777777;
}

nav {
  width: 100%;
  background-color: #ffffff;
  color: #777777;
  margin-bottom: 10px;
  height: 69px;
  border-bottom: 5px solid #777;
}

.nav-container {
  /* position: relative; */
  display: flex;
  background: white;
  height: 65px;
  margin: 15px auto 0 auto;
  padding: 0;
  width: 960;
}

.nav-logo h1{
  color: white;
}

.nav-logo {
  padding: 0 15 0 15;
  float: left;
  position: relative;
  background-color: #4aaaa5;
  text-align: center:
}

.nav-links {
  float: right;
  display: inline;
  align-items: center;
  margin: auto; 
  color: #777;
}

.nav-links ul {
  /* display: inline; */
  list-style: none; /* Remove Bullets */
  margin: 0;
  padding: 0;
  width: 500px;
  overflow: hidden;
}

.nav-links li {
  /* display: inline; */
  float: right;
}

.container {
  width:960px;
  background-color: #fff;
  margin: auto;
  /* overflow: hidden; */
}


.page-title {
  background-color: #fff;
  margin: 10px 0 10px 0;
  padding: 0 20px 0 20px;
}

.content {
  box-sizing: border-box;
  overflow: hidden;
  padding: 0 20px 0 20px;
  margin: 10px auto 10px auto;
  background-color: #fff;
}

img {
  float:left;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-top: 10px;
}

.showcase1 {
  width: 40%;
  height: 100px;
  float: left;
  background-color: #fff;
  border: 1px black;
  margin: 0 10px 10px 10px;
}

.showcase2 {
  width: 40%;
  height: 100px;
  float: left;
  background-color: #fff;
  margin: 0 10px 10px 10px;
  border: 1px black;
}

footer {
  width: 100%;
  display: block;
  text-align: center;
  background-color: #666666;
  margin: 10px auto 0 auto;
  height: 60px;
  padding: 15px 0 0 0;
  color: white;
  border-top: 5px solid #4aaaa5;
}

footer p {
  color:white
}
